html { font-size: 16px; }
body {
  font-family: "Poppins", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  color: var(--texto);
  background: #fff;
  line-height: 1.5;
}
.titulo-sec{
  font-size: 1.375rem;
  font-weight: 800;
  color: var(--azul-escuro);
  margin-bottom: 12px;
}
